/*
 * lolix.css
 *
 */
body {
      color: #333334;
      font-family: Ubuntu, sans-serif;
      font-size: 14px;
    }

h1 { font-family: Ubuntu, sans-serif; }
h2 { font-family: Ubuntu, sans-serif; }
h3 { font-family: Ubuntu, sans-serif; }
h4 { font-family: Ubuntu, sans-serif; }

.table td { line-height: 14px; }

div.page-header {
                  border-bottom: none;
                  margin: 0px;
                  padding-bottom: 12px;
                  }

.bg-danger {
    background-color: rgb(242, 222, 222);
             }

span.badge:hover{
             cursor:default;
             }

#container {  padding-top: 20px; }

#companymap { width: 600px;
              height: 400px; }

#jobmap { margin-top: 10px;
          width: 360px;
          height: 300px; }

#prefmap { width: 900px;
           height: 750px; }


.badge-subway { margin-left: 6px;
                }

.badge-bus { margin-left: 6px;
             border-radius: 1px 1px 1px 1px;
             border: solid 1px black;
             }

div.filter-title { color: #d9EDF7;
                   font-size: 16px;
                   font-weight: bold; }

a.tool-filter-item-on { color: #428BCA;
                        font-size: 14px;
                        font-weight: bold; }

a.tool-filter-item-off { color: #428BCA;
                         font-size: 14px;
                         font-weight: normal; }

span.tool-filter-item-nb { font-size: 12px;
                           font-weight: normal; }

div.treemap_label { font-size: 10px;
                    color: #A3A3A3;
                    font-weight: normal; }

div #jobrosarks { margin-top: 20px; }

/* job */
div.job-title { font-size: 28px;
                font-weight: weight; }

div.job-poste { margin-top: 10px;
                padding: 8px;}

div.job-date { margin-left: 6px; font-size: 12px;
                color: #A1A1A1; }

div.job-company { margin-top: 10px;
                  padding: 8px;}

ul.nav li { list-style: none outside none; }

div.job-moder{ width:160px;
               display: block;
               float:right;
               }

div.right-button { margin-bottom: 20px; }

a.company-name-list { font-size: 1.4em;
                 font-weight: bold;
        margin-left: 12px;
    }

a.job-title-list { font-size: 1.2em;
                 font-weight: bold;
        margin-left: 12px;
    }

    
a.glyphicon { text-decoration: none; }

a.job-tool-1 { color: #2B82CB;
             font-weight: normal;
             font-size: 10px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.job-tool-2 { color: #2B82CB;
             font-weight: bold;
             font-size: 12px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.job-tool-3 { color: #2B82CB;
             font-weight: bold;
             font-size: 14px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.job-tool-4 { color: #2B82CB;
             font-weight: bold;
             font-size: 16px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.job-tool-5 { color: #2B82CB;
             font-weight: bold;
             font-size: 18px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

.job-tool { padding: 2px;}
.job-label { color: #777777; }
.job-company-name { font-size: 18px;
                    font-weight: bold; }

div#sqlfooter {
    margin: 10px;
    padding: 12px;
}

div.company-box { margin-top: 10px; }

a.tool-filter-name  { color: #2B82CB;
                      margin: 4px;
                        font-size: 16px;
}

a.tool-filter-name-select  { color: #2B82CB;
                             margin: 5px;
                             font-size: 16px;
                             font-weight: bold;
     text-decoration: underline;
}        