{% extends "base.html" %}
{% comment %}

File : llx/profile.html

{% endcomment %}
{% load i18n %}
{% block content %}
<!-- llx/profile.html used in tests -->
<div class="row">    
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Bienvenue sur Lolix</h3>
    <p>
      Quel type de compte souhaitez-vous ? Recherchez vous un
      emploi/stage/mission ou un(e) collaborateur(trice) .
    </p>
  </div>

  <div class="col-md-4">

  </div>

</div>
<div class="row">    
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <a role="button" href="/accounts/profile/?set=1" class="btn btn-primary btn-block active">Candidat</a>
  </div>
  <div class="col-md-4">
    <a role="button" href="/accounts/profile/?set=2" class="btn btn-primary btn-block active">Recruteur</a>      
  </div>
  
  <div class="col-md-4">

  </div>

</div>

{% endblock %}
