@font-face {
	font-family: "Ubuntu";
	src: url("eot/Ubuntu-R.eot");
	src: local("Ubuntu"),
		url("woff/Ubuntu-R.woff") format("woff"),
		url("Ubuntu-R.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("eot/Ubuntu-B.eot");
	src: local("Ubuntu Bold"),
		url("woff/Ubuntu-B.woff") format("woff"),
		url("Ubuntu-B.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("eot/Ubuntu-RI.eot");
	src: local("Ubuntu Italic"),
		url("woff/Ubuntu-RI.woff") format("woff"),
		url("Ubuntu-RI.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: url("eot/Ubuntu-BI.eot");
	src: local("Ubuntu Bold Italic"),
		url("woff/Ubuntu-BI.woff") format("woff"),
		url("Ubuntu-BI.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
