{% extends "account/base.html" %}{% load cache %}
{% load i18n %}{% load account %}{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">

<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="well">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
  
  
    <div class="form-group">
      <label for="id_login">Username</label>
      <input name="login" type="text" class="form-control" id="id_login" placeholder="Username" required autofocus />
      {{form.login.errors}}
    </div>
    
    <div class="form-group">
      <label for="id_password">Password</label>
      <input name="password" type="password" class="form-control" id="id_password" placeholder="Password" required autofocus />
      {{form.password.errors}}
    </div>
  
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>


<div>
  <h3>Informations de login perdues</h3>
<div>
  <ul>
    <li>Vous avez un compte sur la version 1 du site et vous avez
  oublié l'email utilisé sur votre compte, si vous avez conservé votre
  <b>id</b> votre compte est accessible avec un mail spécial de la
  forme suivante candidat-<b>&lt;id&gt;</b>@lolix-legacy.org</li>
</div>
</div>
</div>
<div class="col-md-4">
  {% cache 300 companies ulule %}
  <div>
    Nous tenons à remercier sincèrement les entreprises et
    organisations suivantes d'avoir participé
    au financement de la ré-écriture de Lolix
  </div>
  <div>
    <ul>
      {% include "companies-ulule.html" %}
    </ul>
  </div>
  {% endcache %}  
  </div>
</div>
{% endblock %}
