{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>


{% if user.is_authenticated %}
<div class="alert alert-danger">
  {% include "account/snippets/already_logged_in.html" %}
</div>
  {% endif %}

<div class="well">

    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>


  <form method="POST" action="{% url 'account_reset_password' %}" >
    {% csrf_token %}


    <div class="form-group">
      <label for="id_email">Email address</label>
	  <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email" required autofocus />
	  {{form.email.errors}}
	</div>



        <input type="submit" value="{% trans "Reset My Password" %}" />
    </form>
    
    </div>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}


    