{% load i18n %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>	
      </button>

      <a class="navbar-brand" href="/">Lolix</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/emploi/">Emploi</a></li>
        <li><a href="/stage/">Stage</a></li>
        <li><a href="/mission/">Mission</a></li>
      </ul>
      
      <p class="navbar-text pull-right">
	{% if user.is_authenticated %}
	{% if is_moderator %}
	<a href="/offres/moderator/">Moderation</a>
	{% endif %}
	Salut à toi <a class="badge badge-info" href="/accounts/profile/">{{ user.username }}</a> /
	<a href="/accounts/logout/">Déconnexion</a>
	{% else %}
	<a href="/accounts/login/">Mon compte</a> /
	<a href="/accounts/signup/">Nouveau compte</a>
	{% endif %}
      </p>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
