{% extends "base.html" %}
{% load i18n %}{% load crispy_forms_tags %}
{% block jsheaders %}
<script src="{{STATIC_URL}}datepicker/js/bootstrap-datepicker.js"></script>{% endblock %}
{% block cssheaders %}
<link href="{{STATIC_URL}}datepicker/css/datepicker.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="row">    
  <div class="col-md-8">
    <h3>Nouvelle expérience</h3>
    {% crispy form %}
  </div>

  <div class="col-md-4"></div>
</div>
{% endblock %}
{% block jsfooter %}
<script src="{{STATIC_URL}}js/datepicker-init.js"></script>{% endblock %}

