{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div>
      <h3>Comptes extérieurs</h3>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Service" %}</th>
          <th>{% trans "Username" %}</th>
          <th>{% trans "Last status" %}</th>
          <th>{% trans "Remove" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for res in object_list %}
        <tr>
          <td><a href="{{res.ressource.url}}">{{res.ressource.name}}</a></td>
          <td><a href="{{res.userpage}}">{{res.userid}}</a></td>
          <td>{{res.api_last_status}}</td>
          <td>
            <a href="{% url 'resume_external_remove' res.id %}">
            <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="col-md-4">
    <div style="margin-bottom: 20px;">
      <a role="button" href="/ressources/user/new/" class="btn btn-primary active">Nouvelle ressource</a>
    </div>
  </div>

</div>
{% endblock %}
