{% extends "resume/baseresume.html" %}
{% comment %}

The user is NOT allowed to consult personnal information
Do not put any information that permits to identify the
user in this template

{% endcomment %}
{% load i18n cache markup_tags %}
{% block content %}
<!-- template : resume/resume_public.html -->
<div class="row">    
  <div class="col-md-2">
    {% cache 300 resume-tool object.id %}
    <div class="resume-tools">    
    <div class="resume-label">Compétences</div>
    {% for tool in tools %}
    <a class="resume-tool-{{tool.level}}" href="../?t={{tool.tool.slug}}">{{tool.tool.name}}</a>
    {% endfor %}
    </div>
    {% endcache %}

    {% cache 300 resume-lang object.id %}
    {% if langs|length %}
    <div class="resume-langs">
      <div class="resume-label">Langues</div>
      {% for lang in langs %}
      <div><a class="resume-lang-{{lang.1}}" href="../?l={{lang.2}}">{{ lang.0 }}</a></div>
      {% endfor %}
      </div>
      {% endif %}
    {% endcache %}
  </div>
  
  <div class="col-md-6">
    <div class="resume-title">{{ object.title }}</div>
    <div>
      {% if object.poste_desc_markup = 0 %}
      {{ object.poste_desc }}
      {% endif %}
      {% if object.poste_desc_markup = 1 %}
      {{ object.poste_desc|apply_markup:"markdown" }}
      {% endif %}
      {% if object.poste_desc_markup = 2 %}
      {{ object.poste_desc|apply_markup:"restructuredtext" }}
      {% endif %}
    </div>

    {% cache 3 resume-expe object.id %}
    {% if expes|length %}
    <div class="resume-expes">
      <div class="resume-label">Experiences</div>
      {% for expe in expes %}
      <div class="resume-expe-title">{{expe.title}}</div>
      <div class="resume-expe-date">{{expe.date_deb}} - {{expe.date_fin}}</div>
      <div>
        {% if expe.desc_markup = 0 %}
        {{ expe.desc }}
        {% endif %}
        {% if expe.desc_markup = 1 %}
        {{ expe.desc|apply_markup:"markdown" }}
        {% endif %}
        {% if expe.desc_markup = 2 %}
        {{ expe.desc|apply_markup:"restructuredtext" }}
        {% endif %}
      </div>
      {% endfor %}
      </div>
      {% endif %}
    {% endcache %}    
  </div>

  <div class="col-md-4">
    <div>
      <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Retour</a>
    </div>

    <ul>
      {% for key in repo %}
      <li>{{key.name}} {{key.public_repos}}
      </li>
      {% endfor %}
    </ul>

    <ul>
      {% for key in osm %}
      <li>{{key.name}}</li>
      <ul>
        <li>changesets {{key.changesets}}</li>
        <li>traces {{key.traces}}</li>
      </ul>
      {% endfor %}
    </ul>
    
    <ul>
      {% for key in userpage %}
      <li>{{key.name}}</li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
