{% extends "base.html" %}
{% load i18n %}{% load crispy_forms_tags %}
{% block content %}
<div class="row">    
  <div class="col-md-8">
    <h3>Nouveau CV</h3>

    {% crispy form %}
  </div>

  <div class="col-md-4">

    <div class="panel panel-info">
      <div class="panel-heading">Première étape</div>
      <div class="panel-body">Cette première étape a pout but de récolter les informations de
	base. Vous pourrez compléter votre CV ensuite avec les
	informations d'expérience, de compétences et autres...
      </div>
    </div>
  </div>

</div>
{% endblock %}
