{% extends "base.html" %}
{% comment %}
#
# Edition
#
{% endcomment %}
{% load i18n %}{% load compress %}{% load crispy_forms_tags %}
{% block jsvendors %}
<script src="{{STATIC_URL}}vendor/bootstrap3-typeahead.js"></script>{% endblock %}
{% block cssheaders %}
<link href="{{STATIC_URL}}css/resume.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="row">

  <div class="col-md-8">
    {% crispy form %}

    <div id="resume-tools">
      {% for tool in restools %}
      <span class="restool">{{tool.tool.name}}</span>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <a href="{{object.get_absolute_url}}experience/new/" type="button" class="btn btn-primary">Nouvelle experience</a>
    </div>

    <ul>
      {% for key in repo %}
      <li>{{key.name}} {{key.public_repos}}</li>
      {% endfor %}
    </ul>

    <ul>
      {% for key in osm %}
      <li>{{key.name}}</li>
      <ul>
	<li>changesets {{key.changesets}}</li>
	<li>traces {{key.traces}}</li>
      </ul>
      {% endfor %}
    </ul>

    <ul class="list-group">
      {% for key in userpage %}
      <li class="list-group-item">
	{% if key.status == 200 %}
	<span class="badge badge-success">{{key.status}}</span>
	{% else %}
	<span class="badge badge-danger">{{key.status}}</span>
	{% endif %}
	<a href="{{key.url}}">{{key.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
{% block jsfooter %}
<script src="{{STATIC_URL}}js/typeahead-resume.js"></script>{% endblock %}
